{% spaceless %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% if title %}
				Porydex - {{ title|e }}
			{% else %}
				Porydex
			{% endif %}
		</title>

		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<header>
			{% block nav %}
				<nav class="menu">
					<ul>
						<li><a href="/dex/sm/pokemon">Pokémon</a></li>
						<li><a href="/dex/sm/moves">Moves</a></li>
						<li><a href="/dex/sm/types">Types</a></li>
						<li><a href="/dex/sm/abilities">Abilities</a></li>
						<li><a href="/dex/sm/natures">Natures</a></li>
						<li><a href="/stats">Stats</a>
						<li><a href="/stats/current">Current Stats</a></li>
					</ul>
				</nav>
				{% if breadcrumbs %}
					<nav class="breadcrumbs">
						<ul>
							{% for breadcrumb in breadcrumbs %}
								{% if loop.first %}
									<li><a href="/">Home</a></li>
								{% endif %}

								{% if breadcrumb.url %}
									<li><a href="{{ breadcrumb.url|e }}">{{ breadcrumb.text|e }}</a></li>
								{% else %}
									<li><span class="current">{{ breadcrumb.text|e }}</span></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				{% endif %}
			{% endblock %}
		</header>
		<main>
			{% block body %}
			{% endblock %}
		</main>
		<footer>
			&copy; 2017 - {{ currentYear|e }}

			<form>
				<select name="language">
					{% for language in languages %}
						<option
							value="{{ language.id|e }}"
							{% if language.id == currentLanguageId %}
								selected
							{% endif %}
						>
							{{ language.name }}
						</option>
					{% endfor %}
				</select>

				<input type="submit" value="Translate">
			</form>
		</footer>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
{% endspaceless %}
