{% apply spaceless %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% if title %}
				Porydex - {{ title|e }}
			{% else %}
				Porydex
			{% endif %}
		</title>

		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		{% block styles %}
		{% endblock %}
	</head>
	<body>
		<header>
			{% block nav %}
				<nav class="menu">
					<ul>
						<li><a href="/dex/ss/pokemon">Pokémon</a></li>
						<li><a href="/dex/ss/moves">Moves</a></li>
						<li><a href="/dex/ss/types">Types</a></li>
						<li><a href="/dex/ss/abilities">Abilities</a></li>
						<li><a href="/dex/ss/natures">Natures</a></li>
						<li><a href="/stats">Stats</a>
						<li><a href="/stats/current">Current Stats</a></li>
					</ul>
				</nav>
				{% if breadcrumbs %}
					<nav class="breadcrumbs" aria-label="Breadcrumb">
						<ol>
							<li><a class="breadcrumbs__item" href="/">Home</a></li>
							{% for breadcrumb in breadcrumbs %}
								<li>
									{% if breadcrumb.url %}
										<a class="breadcrumbs__item" href="{{ breadcrumb.url|e }}">{{ breadcrumb.text|e }}</a>
									{% else %}
										<span class="breadcrumbs__item" {% if loop.last %}aria-current="page"{% endif %}>{{ breadcrumb.text|e }}</span>
									{% endif %}
								</li>
							{% endfor %}
						</ol>
					</nav>
				{% endif %}
			{% endblock %}
		</header>
		<main>
			{% block body %}
			{% endblock %}
		</main>
		<footer>
			&copy; 2017 - {{ currentYear|e }}

			<form class="change-language">
				<select name="language">
					{% for language in languages %}
						<option
							value="{{ language.id|e }}"
							{% if language.id == currentLanguageId %}
								selected
							{% endif %}
						>
							{{ language.name }}
						</option>
					{% endfor %}
				</select>

				<input type="submit" value="Change Language">
			</form>
		</footer>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
{% endapply %}
