{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if showPrevMonthLink %}
			<div class="button prev">
				<a href="/stats/{{ prevMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/items/{{ itemIdentifier|e }}">
					&#9668; {{ prevMonthText|e }}
				</a>
			</div>
		{% endif %}

		<div class="space"></div>

		{% if showNextMonthLink %}
			<div class="button next">
				<a href="/stats/{{ nextMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/items/{{ itemIdentifier|e }}">
					{{ nextMonthText|e }} &#9658;
				</a>
			</div>
		{% endif %}
	</div>

	<table class="pokemon-usage">
		<thead>
			<tr>
				<th></th>
				<th class="pokemon-name">Pokémon</th>
				<th>Pokémon %</th>
				<th>Item %</th>
				<th>Usage %</th>
				<th>Usage Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in data %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ pokemon.formIcon|e }}">
					</td>
					<td>
						<a href="/stats/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ pokemon.identifier|e }}">
							{{ pokemon.name|e }}
						</a>
					</td>
					<td class="number">{{ pokemon.pokemonPercent|e }}</td>
					<td class="number">{{ pokemon.itemPercent|e }}</td>
					<td class="number">{{ pokemon.usagePercent|e }}</td>
					<td
						{% if pokemon.change > 0 %}
							class="number percent-plus"
						{% elseif pokemon.change < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						<a class="trend-link" href="/stats/trends/chart?type=usage-item&format={{ formatIdentifier|e }}&rating={{ rating|e }}&pokemon={{ pokemon.identifier|e }}&item={{ itemIdentifier|e }}">
							{{ pokemon.changeText|e }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
