{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if showPrevMonthLink %}
			<div class="button prev">
				<a href="/stats/{{ prevMonth|e }}">
					&#9668; {{ prevMonthText|e }}
				</a>
			</div>
		{% endif %}

		<div class="space"></div>

		{% if showNextMonthLink %}
			<div class="button next">
				<a href="/stats/{{ nextMonth|e }}">
					{{ nextMonthText|e }} &#9658;
				</a>
			</div>
		{% endif %}
	</div>

	<table>
		<thead>
			<tr>
				<th>Format</th>
				<th>Rating 1</th>
				<th>Rating 2</th>
				<th>Rating 3</th>
				<th>Rating 4</th>
			</tr>
		</thead>
		<tbody>
			{% for format in formats %}
				<tr>
					<td>{{ format.name }}</td>
					{% for rating in format.ratings %}
						<td>
							<a href="/stats/{{ month|e }}/{{ format.identifier|e }}/{{ rating|e }}">
								{{ rating|e }}
							</a>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
