{% extends "html/base.twig" %}

{% block body %}
	<div class="pokemon-data">
		<div>
			{{ pokemonName|e }}
		</div>
		<div>
			<img src="/images/pokemon/models/{{ model|e }}">
		</div>
		<div class="pokemon-types">
			{% if typeIcons|length == 1 %}
				<img src="/images/types/{{ typeIcons[1]|e }}">
			{% else %}
				<img src="/images/types/{{ typeIcons[1]|e }}">
				<img src="/images/types/{{ typeIcons[2]|e }}">
			{% endif %}
		</div>
	</div>

	<table class="base-stats">
		{% for stat in baseStats %}
			<tr>
				<td class="base-stat-name">{{ stat.name|e }}</td>
				<td class="number">{{ stat.value|e }}</td>
				<td>
					<div class="base-stat-bar" style="width: calc({{ stat.value|e }} / 255 * 300px)"></div>
				</td>
			</tr>
		{% endfor %}
	</table>

	<div></div>

	<nav id="quick-links">
		<ul>
			<li><a href="#abilities" class="scroll">Abilities</a></li>
			<li><a href="#items" class="scroll">Items</a></li>
			<li><a href="#moves" class="scroll">Moves</a></li>
		</ul>
	</nav>

	<table id="abilities" class="moveset-usage">
		<caption>Abilities</caption>
		<thead>
			<tr>
				<th>Ability</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for ability in abilities %}
				<tr>
					<td>{{ ability.name|e }}</td>
					<td class="number">{{ ability.percent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="items" class="moveset-usage">
		<caption>Items</caption>
		<thead>
			<tr>
				<th>Item</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.name|e }}</td>
					<td class="number">{{ item.percent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="moves" class="moveset-usage">
		<caption>Moves</caption>
		<thead>
			<tr>
				<th>Move</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for move in moves %}
				<tr>
					<td>{{ move.name|e }}</td>
					<td class="number">{{ move.percent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block scripts %}
	<script src="/js/main.js"></script>
{% endblock %}
