{% extends "html/base.twig" %}

{% block title %}
	Usage
{% endblock %}

{% block body %}
	<div class="month-control">
		{% if showPrevMonthLink %}
			<div class="button prev">
				<a href="/stats/moveset/{{ prevYear|e }}/{{ prevMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/{{ pokemonIdentifier|e }}">
					Previous Month
				</a>
			</div>
		{% endif %}

		{% if showNextMonthLink %}
			<div class="button next">
				<a href="/stats/moveset/{{ nextYear|e }}/{{ nextMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/{{ pokemonIdentifier|e }}">
					Next Month
				</a>
			</div>
		{% endif %}
	</div>

	<div>
		{{ pokemonName|e }}
	</div>

	<div>
		Raw count: {{ rawCount|e }}
	</div>

	<div>
		Avg. weight: {{ averageWeight|e }}
	</div>

	{% if viabilityCeiling %}
		<div>
			Viability Ceiling: {{ viabilityCeiling|e }}
		</div>
	{% endif %}

	<table>
		<thead>
			<tr>
				<th>Abilities</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for ability in abilities %}
				<tr>
					<td>{{ ability.name|e }}</td>
					<td>{{ ability.percent|e }}%</td>
					<td
						{% if ability.change > 0%}
							class="percent-plus"
						{% elseif ability.change < 0 %}
							class="percent-minus"
						{% endif %}
					>
						{{ ability.change|e }}%
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>Items</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.name|e }}</td>
					<td>{{ item.percent|e }}%</td>
					<td
						{% if item.change > 0%}
							class="percent-plus"
						{% elseif item.change < 0 %}
							class="percent-minus"
						{% endif %}
					>
						{{ item.change|e }}%
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>Nature</th>
				<th>EVs</th>
				<th>%</th>
				<th>Stats</th>
			</tr>
		</thead>
		<tbody>
			{% for spread in spreads %}
				<tr>
					<td>{{ spread.nature.name|e }}</td>
					<td>
						{{ spread.evs.hp|e }}
						/
						{{ spread.evs.atk|e }}{{ spread.nature.atk|e }}
						/
						{{ spread.evs.def|e }}{{ spread.nature.def|e }}
						/
						{{ spread.evs.spa|e }}{{ spread.nature.spa|e }}
						/
						{{ spread.evs.spd|e }}{{ spread.nature.spd|e }}
						/
						{{ spread.evs.spe|e }}{{ spread.nature.spe|e }}
					</td>
					<td>
						{{ spread.percent|e }}%
					</td>
					<td>
						{{ spread.stats.hp|e }}
						/
						{{ spread.stats.atk|e }}
						/
						{{ spread.stats.def|e }}
						/
						{{ spread.stats.spa|e }}
						/
						{{ spread.stats.spd|e }}
						/
						{{ spread.stats.spe|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>Moves</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for move in moves %}
				<tr>
					<td>{{ move.name|e }}</td>
					<td>{{ move.percent|e }}%</td>
					<td
						{% if move.change > 0%}
							class="percent-plus"
						{% elseif move.change < 0 %}
							class="percent-minus"
						{% endif %}
					>
						{{ move.change|e }}%
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Teammates</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for teammate in teammates %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ teammate.formIcon|e }}">
					</td>
					<td>
						{% if teammate.showMovesetLink %}
							<a href="/stats/moveset/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/{{ teammate.identifier|e }}">
								{{ teammate.name|e }}
							</a>
						{% else %}
							{{ teammate.name|e }}
						{% endif %}
					</td>
					<td>{{ teammate.percent|e }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Checks and Counters</th>
				<th>?</th>
				<th>?</th>
				<th>?</th>
				<th>% KOed</th>
				<th>% switched out</th>
			</tr>
		</thead>
		<tbody>
			{% for counter in counters %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ counter.formIcon|e }}">
					</td>
					<td>
						{% if counter.showMovesetLink %}
							<a href="/stats/moveset/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/{{ counter.identifier|e }}">
								{{ counter.name|e }}
							</a>
						{% else %}
							{{ counter.name|e }}
						{% endif %}
					</td>
					<td>{{ counter.number1|e }}</td>
					<td>{{ counter.number2|e }}</td>
					<td>{{ counter.number3|e }}</td>
					<td>{{ counter.percentKnockedOut|e }}%</td>
					<td>{{ counter.percentSwitchedOut|e }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
