{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if showPrevMonthLink %}
			<div class="button prev">
				<a href="/stats/{{ prevYear|e }}/{{ prevMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/move-usage/{{ moveIdentifier|e }}">
					Previous Month
				</a>
			</div>
		{% endif %}

		{% if showNextMonthLink %}
			<div class="button next">
				<a href="/stats/{{ nextYear|e }}/{{ nextMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/move-usage/{{ moveIdentifier|e }}">
					Next Month
				</a>
			</div>
		{% endif %}
	</div>

	<table class="pokemon-list">
		<thead>
			<tr>
				<th></th>
				<th class="pokemon-name">Pokémon</th>
				<th>Pokémon %</th>
				<th>Move %</th>
				<th>Usage %</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in data %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ pokemon.formIcon|e }}">
					</td>
					<td>
						<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ pokemon.identifier|e }}">
							{{ pokemon.name|e }}
						</a>
					</td>
					<td>{{ pokemon.pokemonPercent|e }}</td>
					<td>{{ pokemon.movePercent|e }}</td>
					<td>{{ pokemon.usagePercent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
