{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if showPrevMonthLink %}
			<div class="button prev">
				<a href="/stats/{{ prevYear|e }}/{{ prevMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ pokemonIdentifier|e }}">
					&#9668; {{ prevMonthText|e }}
				</a>
			</div>
		{% endif %}

		<div class="space"></div>

		{% if showNextMonthLink %}
			<div class="button next">
				<a href="/stats/{{ nextYear|e }}/{{ nextMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ pokemonIdentifier|e }}">
					{{ nextMonthText|e }} &#9658;
				</a>
			</div>
		{% endif %}
	</div>


	<div class="pokemon-data">
		<div>
			{{ pokemonName|e }}
		</div>
		<div>
			<img src="/images/pokemon/models/{{ model|e }}">
		</div>
		<div class="pokemon-types">
			{% if typeIcons|length == 1 %}
				<img src="/images/types/{{ typeIcons[1]|e }}">
			{% else %}
				<img src="/images/types/{{ typeIcons[1]|e }}">
				<img src="/images/types/{{ typeIcons[2]|e }}">
			{% endif %}
		</div>
	</div>

	<table class="base-stats">
		{% for stat in baseStats %}
			<tr>
				<td class="base-stat-name">{{ stat.name|e }}</td>
				<td class="number">{{ stat.value|e }}</td>
				<td>
					<div class="base-stat-bar" style="width: calc({{ stat.value|e }} / 255 * 300px)"></div>
				</td>
			</tr>
		{% endfor %}
	</table>

	<div>
		Raw count: {{ rawCount|e }}
	</div>

	<div>
		Avg. weight: {{ averageWeight|e }}
	</div>

	{% if viabilityCeiling %}
		<div>
			Viability Ceiling: {{ viabilityCeiling|e }}
		</div>
	{% endif %}

	<nav id="quick-links">
		<ul>
			<li><a href="#abilities" class="scroll">Abilities</a></li>
			<li><a href="#items" class="scroll">Items</a></li>
			<li><a href="#spreads" class="scroll">Spreads</a></li>
			<li><a href="#moves" class="scroll">Moves</a></li>
			<li><a href="#teammates" class="scroll">Teammates</a></li>
			<li><a href="#counters" class="scroll">Counters</a></li>
		</ul>
	</nav>

	<table id="abilities" class="moveset-usage">
		<caption>Abilities</caption>
		<thead>
			<tr>
				<th>Ability</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for ability in abilities %}
				<tr>
					<td>
						<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/abilities/{{ ability.identifier|e }}">
							{{ ability.name|e }}
						</a>
					</td>
					<td class="number">{{ ability.percent|e }}</td>
					<td
						{% if ability.change > 0 %}
							class="number percent-plus"
						{% elseif ability.change < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						<a class="trend-link" href="/stats/trends/chart?type=moveset-ability&format={{ formatIdentifier|e }}&rating={{ rating|e }}&pokemon={{ pokemonIdentifier|e }}&ability={{ ability.identifier|e }}">
							{{ ability.changeText|e }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="items" class="moveset-usage">
		<caption>Items</caption>
		<thead>
			<tr>
				<th>Item</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>
						<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/items/{{ item.identifier|e }}">
							{{ item.name|e }}
						</a>
					</td>
					<td class="number">{{ item.percent|e }}</td>
					<td
						{% if item.change > 0 %}
							class="number percent-plus"
						{% elseif item.change < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						<a class="trend-link" href="/stats/trends/chart?type=moveset-item&format={{ formatIdentifier|e }}&rating={{ rating|e }}&pokemon={{ pokemonIdentifier|e }}&item={{ item.identifier|e }}">
							{{ item.changeText|e }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="spreads" class="moveset-usage">
		<caption>Spreads</caption>
		<thead>
			<tr>
				<th>Nature</th>
				<th>EVs</th>
				<th>%</th>
				<th>Stats</th>
			</tr>
		</thead>
		<tbody>
			{% for spread in spreads %}
				<tr>
					<td>{{ spread.nature.name|e }}</td>
					<td>
						{{ spread.evs.hp|e }}
						/
						{{ spread.evs.atk|e }}{{ spread.nature.atk|e }}
						/
						{{ spread.evs.def|e }}{{ spread.nature.def|e }}
						/
						{{ spread.evs.spa|e }}{{ spread.nature.spa|e }}
						/
						{{ spread.evs.spd|e }}{{ spread.nature.spd|e }}
						/
						{{ spread.evs.spe|e }}{{ spread.nature.spe|e }}
					</td>
					<td class="number">
						{{ spread.percent|e }}
					</td>
					<td>
						{{ spread.stats.hp|e }}
						/
						{{ spread.stats.atk|e }}
						/
						{{ spread.stats.def|e }}
						/
						{{ spread.stats.spa|e }}
						/
						{{ spread.stats.spd|e }}
						/
						{{ spread.stats.spe|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="moves" class="moveset-usage">
		<caption>Moves</caption>
		<thead>
			<tr>
				<th>Move</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for move in moves %}
				<tr>
					<td>
						<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moves/{{ move.identifier|e }}">
							{{ move.name|e }}
						</a>
					</td>
					<td class="number">{{ move.percent|e }}</td>
					<td
						{% if move.change > 0 %}
							class="number percent-plus"
						{% elseif move.change < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						<a class="trend-link" href="/stats/trends/chart?type=moveset-move&format={{ formatIdentifier|e }}&rating={{ rating|e }}&pokemon={{ pokemonIdentifier|e }}&move={{ move.identifier|e }}">
							{{ move.changeText|e }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="teammates" class="moveset-usage">
		<caption>Teammates</caption>
		<thead>
			<tr>
				<th></th>
				<th>Teammate</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for teammate in teammates %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ teammate.formIcon|e }}">
					</td>
					<td>
						{% if teammate.showMovesetLink %}
							<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ teammate.identifier|e }}">
								{{ teammate.name|e }}
							</a>
						{% else %}
							{{ teammate.name|e }}
						{% endif %}
					</td>
					<td class="number">{{ teammate.percent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="counters" class="moveset-usage">
		<caption>Checks and Counters</caption>
		<thead>
			<tr>
				<th></th>
				<th>Counter</th>
				<th title="A weighted statistic to remove bias towards low-probability matchups (% - 4σ)">W</th>
				<th title="The percent of encounters where {{ pokemonName|e }} was knocked out or switched out">%</th>
				<th title="The standard deviation the percent of encounters where {{ pokemonName|e }} was knocked out or switched out">σ</th>
				<th>% KOed</th>
				<th>% switched out</th>
			</tr>
		</thead>
		<tbody>
			{% for counter in counters %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ counter.formIcon|e }}">
					</td>
					<td>
						{% if counter.showMovesetLink %}
							<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ counter.identifier|e }}">
								{{ counter.name|e }}
							</a>
						{% else %}
							{{ counter.name|e }}
						{% endif %}
					</td>
					<td class="number">{{ counter.number1|e }}</td>
					<td class="number">{{ counter.number2|e }}</td>
					<td class="number">{{ counter.number3|e }}</td>
					<td class="number">{{ counter.percentKnockedOut|e }}</td>
					<td class="number">{{ counter.percentSwitchedOut|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block scripts %}
	<script src="/js/main.js"></script>
{% endblock %}
