{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if showPrevMonthLink %}
			<div class="button prev">
				<a href="/stats/{{ prevYear|e }}/{{ prevMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ pokemonIdentifier|e }}">
					&#9668; {{ prevMonthText|e }}
				</a>
			</div>
		{% endif %}

		<div class="space"></div>

		{% if showNextMonthLink %}
			<div class="button next">
				<a href="/stats/{{ nextYear|e }}/{{ nextMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ pokemonIdentifier|e }}">
					{{ nextMonthText|e }} &#9658;
				</a>
			</div>
		{% endif %}
	</div>

	<div>
		<img src="/images/pokemon/models/{{ model|e }}">
		{{ pokemonName|e }}
		{% if typeIcons|length == 1 %}
			<img src="/images/types/{{ typeIcons[1]|e }}">
		{% else %}
			<img src="/images/types/{{ typeIcons[1]|e }}">
			<img src="/images/types/{{ typeIcons[2]|e }}">
		{% endif %}
	</div>

	<table>
		{% for stat in baseStats %}
			<tr>
				<td>{{ stat.name|e }}</td>
				<td>{{ stat.value|e }}</td>
			</tr>
		{% endfor %}
	</table>

	<div>
		Raw count: {{ rawCount|e }}
	</div>

	<div>
		Avg. weight: {{ averageWeight|e }}
	</div>

	{% if viabilityCeiling %}
		<div>
			Viability Ceiling: {{ viabilityCeiling|e }}
		</div>
	{% endif %}

	<table>
		<thead>
			<tr>
				<th>Abilities</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for ability in abilities %}
				<tr>
					<td>{{ ability.name|e }}</td>
					<td class="number">{{ ability.percent|e }}</td>
					<td
						{% if ability.change > 0 %}
							class="number percent-plus"
						{% elseif ability.change < 0 %}
							class="number percent-minus"
						{% endif %}
					>
						{{ ability.changeText|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>Items</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.name|e }}</td>
					<td class="number">{{ item.percent|e }}</td>
					<td
						{% if item.change > 0 %}
							class="number percent-plus"
						{% elseif item.change < 0 %}
							class="number percent-minus"
						{% endif %}
					>
						{{ item.changeText|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>Nature</th>
				<th>EVs</th>
				<th>%</th>
				<th>Stats</th>
			</tr>
		</thead>
		<tbody>
			{% for spread in spreads %}
				<tr>
					<td>{{ spread.nature.name|e }}</td>
					<td>
						{{ spread.evs.hp|e }}
						/
						{{ spread.evs.atk|e }}{{ spread.nature.atk|e }}
						/
						{{ spread.evs.def|e }}{{ spread.nature.def|e }}
						/
						{{ spread.evs.spa|e }}{{ spread.nature.spa|e }}
						/
						{{ spread.evs.spd|e }}{{ spread.nature.spd|e }}
						/
						{{ spread.evs.spe|e }}{{ spread.nature.spe|e }}
					</td>
					<td class="number">
						{{ spread.percent|e }}
					</td>
					<td>
						{{ spread.stats.hp|e }}
						/
						{{ spread.stats.atk|e }}
						/
						{{ spread.stats.def|e }}
						/
						{{ spread.stats.spa|e }}
						/
						{{ spread.stats.spd|e }}
						/
						{{ spread.stats.spe|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th>Moves</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for move in moves %}
				<tr>
					<td>{{ move.name|e }}</td>
					<td class="number">{{ move.percent|e }}</td>
					<td
						{% if move.change > 0 %}
							class="number percent-plus"
						{% elseif move.change < 0 %}
							class="number percent-minus"
						{% endif %}
					>
						{{ move.changeText|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Teammates</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for teammate in teammates %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ teammate.formIcon|e }}">
					</td>
					<td>
						{% if teammate.showMovesetLink %}
							<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ teammate.identifier|e }}">
								{{ teammate.name|e }}
							</a>
						{% else %}
							{{ teammate.name|e }}
						{% endif %}
					</td>
					<td class="number">{{ teammate.percent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Checks and Counters</th>
				<th>?</th>
				<th>?</th>
				<th>?</th>
				<th>% KOed</th>
				<th>% switched out</th>
			</tr>
		</thead>
		<tbody>
			{% for counter in counters %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ counter.formIcon|e }}">
					</td>
					<td>
						{% if counter.showMovesetLink %}
							<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ counter.identifier|e }}">
								{{ counter.name|e }}
							</a>
						{% else %}
							{{ counter.name|e }}
						{% endif %}
					</td>
					<td class="number">{{ counter.number1|e }}</td>
					<td class="number">{{ counter.number2|e }}</td>
					<td class="number">{{ counter.number3|e }}</td>
					<td class="number">{{ counter.percentKnockedOut|e }}</td>
					<td class="number">{{ counter.percentSwitchedOut|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
