{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if showPrevMonthLink %}
			<div class="button prev">
				<a href="/stats/{{ prevYear|e }}/{{ prevMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}">
					&#9668; {{ prevMonthText|e }}
				</a>
			</div>
		{% endif %}

		<div class="space"></div>

		{% if showNextMonthLink %}
			<div class="button next">
				<a href="/stats/{{ nextYear|e }}/{{ nextMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}">
					{{ nextMonthText|e }} &#9658;
				</a>
			</div>
		{% endif %}
	</div>

	<div>
		{% if showLeadsLink %}
			<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/leads">
				Leads
			</a>
		{% endif %}
	</div>

	<table class="pokemon-usage">
		<thead>
			<tr>
				<th>Rank</th>
				<th></th>
				<th class="pokemon-name">Pokémon</th>
				<th>Usage %</th>
				<th>Usage Δ</th>
				<th>Raw</th>
				<th>%</th>
				<th>Δ</th>
				<th>Real</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in data %}
				<tr>
					<td class="number">{{ pokemon.rank|e }}</td>
					<td>
						<img src="/images/pokemon/icons/{{ pokemon.formIcon|e }}">
					</td>
					<td>
						{% if pokemon.showMovesetLink %}
							<a href="/stats/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/moveset/{{ pokemon.identifier|e }}">
								{{ pokemon.name|e }}
							</a>
						{% else %}
							{{ pokemon.name|e }}
						{% endif %}
					</td>
					<td class="number">{{ pokemon.usagePercent|e }}</td>
					<td
						{% if pokemon.usageChange > 0 %}
							class="number percent-plus"
						{% elseif pokemon.usageChange < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						<a class="trend-link" href="/stats/trends/chart?type=usage&format={{ formatIdentifier|e }}&rating={{ rating|e }}&pokemon={{ pokemon.identifier|e }}">
							{{ pokemon.usageChangeText|e }}
						</a>
					</td>
					<td class="number">{{ pokemon.raw|e }}</td>
					<td class="number">{{ pokemon.rawPercent|e }}</td>
					<td
						{% if pokemon.rawChange > 0 %}
							class="number percent-plus"
						{% elseif pokemon.rawChange < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						{{ pokemon.rawChangeText|e }}
					</td>
					<td class="number">{{ pokemon.real|e }}</td>
					<td class="number">{{ pokemon.realPercent|e }}</td>
					<td
						{% if pokemon.realChange > 0 %}
							class="number percent-plus"
						{% elseif pokemon.realChange < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						{{ pokemon.realChangeText|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
