{% extends "html/base.twig" %}

{% block title %}
	Usage
{% endblock %}

{% block body %}
	<div class="month-control">
		<div class="button prev">
			<a href="/stats/usage/{{ prevYear|e }}/{{ prevMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}">
				Previous Month
			</a>
		</div>

		<div class="button next">
			<a href="/stats/usage/{{ nextYear|e }}/{{ nextMonth|e }}/{{ formatIdentifier|e }}/{{ rating|e }}">
				Next Month
			</a>
		</div>
	</div>

	<table class="pokemon-list">
		<thead>
			<tr>
				<th>Rank</th>
				<th class="pokemon-name">Pokémon</th>
				<th>Usage %</th>
				<th>Usage Δ</th>
				<th>Raw</th>
				<th>%</th>
				<th>Δ</th>
				<th>Real</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in data %}
				<tr>
					<td>{{ pokemon.rank|e }}</td>
					<td>
						<a href="/stats/moveset/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/{{ pokemon.identifier|e }}">
							{{ pokemon.name|e }}
						</a>
					</td>
					<td>{{ pokemon.usagePercent|e }}</td>
					<td
						{% if pokemon.usageChange > 0%}
							class="percent-plus"
						{% elseif pokemon.usageChange < 0 %}
							class="percent-minus"
						{% endif %}
					>
						{{ pokemon.usageChange|e }}%
					</td>
					<td>{{ pokemon.raw|e }}</td>
					<td>{{ pokemon.rawPercent|e }}</td>
					<td
						{% if pokemon.rawChange > 0%}
							class="percent-plus"
						{% elseif pokemon.rawChange < 0 %}
							class="percent-minus"
						{% endif %}
					>
						{{ pokemon.rawChange|e }}%
					</td>
					<td>{{ pokemon.real|e }}</td>
					<td>{{ pokemon.realPercent|e }}</td>
					<td
						{% if pokemon.realChange > 0%}
							class="percent-plus"
						{% elseif pokemon.realChange < 0 %}
							class="percent-minus"
						{% endif %}
					>
						{{ pokemon.realChange|e }}%
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
