{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<table class="dex-table dex-table--full-width breeding-chains-table">
			<template v-for="chain in chains" :key="chain.id">
				<tbody>
					<tr class="breeding-chain__header" @click="toggleChain(chain)">
						<th colspan="8">
							<div class="breeding-chain__summary-container">
								<div class="breeding-chain__arrow">
									<template v-if="chain.show">▼</template>
									<template v-else>▶</template>
								</div>
								<div class="breeding-chain__summary" >
									<template v-for="(pokemon, pokemonIndex) in chain.pokemon" :key="pokemon.identifier">
										<img class="dex-pokemon-icon" :src="'/images/pokemon/icons/' + pokemon.icon" :alt="pokemon.name" v-tooltip="pokemon.name">
										<span v-if="pokemonIndex < chain.pokemon.length - 1"> → </span>
									</template>
								</div>
							</div>
						</th>
					</tr>
				</tbody>
				<tbody v-if="chain.show">
					<tr class="breeding-chain__headers">
						<th></th>
						<th scope="col">Pokémon</th>
						<th scope="col">Versions</th>
						<th scope="col">Egg Groups</th>
						<th scope="col">Gender Ratio</th>
						<th scope="col">Egg Cycles</th>
						<th scope="col">Steps to Hatch</th>
						<th scope="col">Learned Via</th>
					</tr>
					<tr v-for="pokemon in chain.pokemon" :key="pokemon.identifier">
						<td class="dex-table--icon">
							<img v-if="pokemon.icon" class="dex-pokemon-icon" :src="'/images/pokemon/icons/' + pokemon.icon" alt="">
						</td>
						<th scope="row" class="dex-table__pokemon-name">
							<a :href="'/dex/' + pokemon.versionGroup.identifier + '/pokemon/' + pokemon.identifier">
								{{ pokemon.name }}
							</a>
						</th>

						<td>
							<div
								:class="{
									'breeding-chain__version-group': true,
									['breeding-chain__version-group--' + pokemon.versionGroup.identifier]: true,
								}"
								v-tooltip="pokemon.versionGroup.name"
							>
								<template v-if="pokemon.versionGroup.versions.length > 1">
									<sup>{{ pokemon.versionGroup.versions[0].abbreviation }}</sup><sub>{{ pokemon.versionGroup.versions[1].abbreviation }}</sub>
								</template>
								<template v-else>
									{{ pokemon.versionGroup.versions[0].abbreviation }}
								</template>
							</div>
						</td>

						<td class="dex-table--icon">
							<div v-for="e in pokemon.eggGroups" :key="e.identifier">
								<a :href="'/dex/' + pokemon.versionGroup.identifier + '/egg-groups/' + e.identifier">{{ e.name }}</a>
							</div>
						</td>
						<td class="dex-table--icon" v-tooltip="pokemon.genderRatio.description">
							<img :src="'/images/gender-ratios/' + pokemon.genderRatio.icon" :alt="pokemon.genderRatio.description">
						</td>
						<td class="dex-table--number">{{ pokemon.eggCycles }}</td>
						<td class="dex-table--number">{{ pokemon.stepsToHatch }}</td>
						<td>{{ pokemon.moveMethod }}</td>
					</tr>
				</tbody>
			</template>
		</table>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1"></script>

	<script src="/js/dex/breeding-chains.js"></script>
{% endblock %}
