{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="generation-control" v-if="generations.length">
		<ul>
			<li v-for="g in generations">
				<a :href="`/dex/${g.identifier}/moves/${move.identifier}`"
					:class="{
						'current': g.identifier === generation.identifier
					}"
				>{{ g.name }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<template v-if="matchups.length > 0">
			<h2 class="dex-section__title">Matchups</h2>
			<div>
				<h3 class="dex-type__matchups-title">Damage Dealt:</h3>
				<ul class="dex-type__matchups">
					<li v-for="matchup in matchups" :key="matchup.type.identifier"
						class="dex-type__matchup" :class="{
							'dex-type__matchup--fade': hoverMatchupMultiplier !== null && hoverMatchupMultiplier !== matchup.multiplier,
						}"
						@mouseover="onMatchupHover(matchup)"
						@mouseleave="onMatchupUnhover"
					>
						<a :href="'/dex/' + generation.identifier + '/types/' + matchup.type.identifier">
							<img :src="'/images/types/' + matchup.type.icon" :alt="matchup.type.name">
						</a>
						<span :class="{
							'dex-type__matchup--neutral': matchup.multiplier === 1,
							'dex-type__matchup--favorable': matchup.multiplier === 2,
							'dex-type__matchup--unfavorable': matchup.multiplier === .5,
							'dex-type__matchup--no-effect': matchup.multiplier === 0,
						}">
							<template v-if="matchup.multiplier === 1">1</template>
							<template v-else-if="matchup.multiplier === 2">2</template>
							<template v-else-if="matchup.multiplier === .5">½</template>
							<template v-else-if="matchup.multiplier === 0">0</template>
						</span>
					</li>
				</ul>
			</div>
		</template>

		<template v-if="flags.length > 0">
			<h2 class="dex-section__title">Flags</h2>
			<ul>
				<li v-for="flag in flags" :key="flag.identifier"
					:class="{
						'dex-move__flag--disabled': !flag.has
					}"
				>
					{{ flag.name }}
					<div v-if="flag.has" class="dex-move__flag-description">{{ flag.description }}</div>
				</li>
			</ul>
		</template>

		<h2 class="dex-section__title">Pokémon</h2>

		<nav class="dex-move__methods-nav">
			<div>{{ move.name }} can be learned in the following ways:</div>
			<ul class="dex-move__method-links">
				<li v-for="method in visibleMethods" :key="method.identifier">
					<a :href="`#via-${method.identifier}`">{{ method.name }}</a>
				</li>
			</ul>
		</nav>

		<div v-if="generation.id !== 1">
			<label>
				<input type="checkbox" v-model="showOlderGames" @click="toggleOlderGames">
				Show older generation games
			</label>
		</div>

		<table class="dex-table dex-table--full-width">
			<tbody is="dex-move-method-pokemons"
				v-for="method in visibleMethods" :key="method.identifier"
				:method="method"
				:generation="generation"
				:move="move"
				:version-groups="visibleVersionGroups"
				:stats="stats"
				:show-abilities="showAbilities"
			></tbody>
		</table>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://unpkg.com/v-tooltip"></script>
	<script src="/js/dex-move-method-pokemons.js"></script>

	<script src="/js/dex/move.js"></script>
{% endblock %}
