{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="version-group-control" v-if="versionGroups.length">
		<ul>
			<li v-for="vg in versionGroups">
				<a :href="'/dex/' + vg.identifier + '/pokemon/' + pokemon.identifier"
					:class="{
						'current': vg.identifier === versionGroup.identifier
					}"
				>{{ vg.name }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<h1 class="dex-page__title">{{ pokemon.name }}</h1>

		<h2 class="dex-section__title">Base Stats</h2>
		<table class="dex-pokemon__base-stats">
			<tr v-for="stat in baseStats" :key="stat.identifier">
				<td class="dex-pokemon__base-stat-name">{{ stat.name }}</td>
				<td class="dex-table--number">{{ stat.value }}</td>
				<td>
					<div
						:class="{
							'dex-pokemon__base-stat-bar': true,
							['dex-stat--' + stat.identifier]: true,
						}"
						:style="{
							'width': (stat.value / 255 * 300) + 'px',
						}"
					></div>
				</td>
			</tr>
			<tr>
				<td class="dex-pokemon__base-stat-name">Total</td>
				<td class="dex-table--number">{{ pokemon.bst }}</td>
			</tr>
		</table>

		<template v-if="abilities.length > 0">
			<h2 class="dex-section__title">Abilities</h2>
			<ul class="dex-pokemon__abilities">
				<li v-for="ability in abilities" :key="ability.identifier" class="dex-pokemon__ability">
					<div :class="{
						'dex-pokemon__ability--hidden': ability.isHiddenAbility,
					}">
						<a :href="'/dex/' + versionGroup.identifier + '/abilities/' + ability.identifier"
							class="dex-link"
						>{{ ability.name }}</a>
						<template v-if="ability.isHiddenAbility"> (Hidden Ability)</template>
					</div>

					<div>{{ ability.description }}</div>
				</li>
			</ul>
		</template>

		<h2 class="dex-section__title">Matchups</h2>
		<div>
			<h3 class="dex-type__matchups-title">Damage Taken:</h3>
			<ul class="dex-type__matchups">
				<li v-for="type in types" :key="type.identifier"
					class="dex-type__matchup" :class="{
						'dex-type__matchup--fade': hoverDamageTaken !== null && hoverDamageTaken !== damageTaken[type.identifier],
					}"
					@mouseover="onDamageTakenHover(damageTaken[type.identifier])"
					@mouseleave="onDamageTakenUnhover"
				>
					<dex-type-link
						:vg-identifier="versionGroup.identifier"
						:type="type"
					></dex-type-link>
					<span :class="{
						'dex-type__matchup--neutral': damageTaken[type.identifier] === 1,
						'dex-type__matchup--unfavorable': damageTaken[type.identifier] > 1,
						'dex-type__matchup--favorable': 0 < damageTaken[type.identifier] && damageTaken[type.identifier] < 1,
						'dex-type__matchup--no-effect': damageTaken[type.identifier] === 0,
					}">
						<template v-if="damageTaken[type.identifier] === 1">1</template>
						<template v-else-if="damageTaken[type.identifier] === .125">⅛</template>
						<template v-else-if="damageTaken[type.identifier] === .25">¼</template>
						<template v-else-if="damageTaken[type.identifier] === .5">½</template>
						<template v-else>×{{ damageTaken[type.identifier] }}</template>
					</span>
				</li>
			</ul>
			<div v-if="damageTakenAbilities.length > 1" class="dex-pokemon__matchup-abilities">
				<label v-for="ability in damageTakenAbilities" :key="ability.identifier"
					class="dex-pokemon__matchup-ability"
				>
					<input type="radio" v-model="damageTakenAbility" :value="ability.identifier">
					<span>{{ ability.name }}</span>
				</label>
			</div>
		</div>

		<template v-if="true">
			<h2 class="dex-section__title">Evolutions</h2>
			<div class="dex-evolutions-container">
				<table class="dex-evolutions-table">
					<tbody>
						<tr v-for="row in evolutionTableRows">
							<template v-for="cell in row.cells">
								<td :rowspan="cell.rowspan > 1 ? cell.rowspan : null">
									<div class="dex-evolutions-table-cell">
										<span v-if="!cell.isFirstStage" class="dex-evolutions-table-arrow">⮕</span>
										<a class="dex-link" :href="'/dex/' + versionGroup.identifier + '/pokemon/' + cell.identifier">
											<img v-if="cell.icon" :src="'/images/pokemon/icons/' + cell.icon" class="dex-pokemon-icon">
										</a>
										<div>
											<a class="dex-link" :href="'/dex/' + versionGroup.identifier + '/pokemon/' + cell.identifier">
												{{ cell.name }}
											</a>
											<div v-for="method in cell.methods" v-html="method.html"></div>
										</div>
									</div>
								</td>
							</template>
						</tr>
					</tbody>
				</table>
			</div>
		</template>
		

		<h2 class="dex-section__title">Moves</h2>

		<nav class="dex-move__methods-nav">
			<div>{{ pokemon.name }} can learn moves in the following ways:</div>
			<ul class="dex-move__method-links">
				<li v-for="method in visibleMethods" :key="method.identifier">
					<a :href="'#' + method.identifier + '-moves'" class="dex-link">{{ method.name }}</a>
				</li>
			</ul>
		</nav>

		<div v-if="hasMultipleGens">
			<label>
				<input type="checkbox" v-model="showOtherGens" @click="toggleOtherGens">
				<template v-if="versionGroup.generationId > 1">Show older generation games</template>
				<template v-else>Show other generation games</template>
			</label>
		</div>
		<div v-if="showMoveDescriptionsOption">
			<label>
				<input type="checkbox" v-model="showMoveDescriptions" @click="toggleMoveDescriptions">
				Show move descriptions
			</label>
		</div>

		<table class="dex-table dex-table--full-width">
			<tbody is="dex-pokemon-method-moves"
				v-for="method in visibleMethods" :key="method.identifier"
				:method="method"
				:version-group="versionGroup"
				:pokemon="pokemon"
				:version-groups="visibleVersionGroups"
				:show-move-descriptions="showMoveDescriptions"
			></tbody>
		</table>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1"></script>
	<script src="/js/dex-type-link.js"></script>
	<script src="/js/dex-pokemon-method-moves.js"></script>

	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/dex/pokemon.js"></script>
{% endblock %}
