{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="generation-control" v-if="generations.length">
		<ul>
			<li v-for="g in generations">
				<a :href="`/dex/${g.identifier}/pokemon/${pokemon.identifier}`"
					:class="{
						'current': g.identifier === generation.identifier
					}"
				>{{ g.name }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<template v-if="abilities.length > 0">
			<h2 class="dex-section__title">Abilities</h2>
			<ul class="dex-pokemon__abilities">
				<li v-for="ability in abilities" :key="ability.identifier" class="dex-pokemon__ability">
					<div :class="{
						'dex-pokemon__ability--hidden': ability.isHiddenAbility,
					}">
						<a :href="'/dex/' + generation.identifier + '/abilities/' + ability.identifier"
							class="dex-link"
						>{{ ability.name }}</a>
						<template v-if="ability.isHiddenAbility"> (Hidden Ability)</template>
					</div>

					<div>{{ ability.description }}</div>
				</li>
			</ul>
		</template>

		<h2 class="dex-section__title">Moves</h2>

		<nav class="dex-move__methods-nav">
			<div>{{ pokemon.name }} can learn moves in the following ways:</div>
			<ul class="dex-move__method-links">
				<li v-for="method in visibleMethods" :key="method.identifier">
					<a :href="`#${method.identifier}-moves`" class="dex-link">{{ method.name }}</a>
				</li>
			</ul>
		</nav>

		<div v-if="generation.id !== 1">
			<label>
				<input type="checkbox" v-model="showOlderGames" @click="toggleOlderGames">
				Show older generation games
			</label>
		</div>
		<div v-if="showMoveDescriptionsOption">
			<label>
				<input type="checkbox" v-model="showMoveDescriptions" @click="toggleMoveDescriptions">
				Show move descriptions
			</label>
		</div>

		<table class="dex-table dex-table--full-width">
			<tbody is="dex-pokemon-method-moves"
				v-for="method in visibleMethods" :key="method.identifier"
				:method="method"
				:generation="generation"
				:pokemon="pokemon"
				:version-groups="visibleVersionGroups"
				:show-move-descriptions="showMoveDescriptions"
			></tbody>
		</table>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://unpkg.com/v-tooltip"></script>
	<script src="/js/dex-pokemon-method-moves.js"></script>

	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/dex/pokemon.js"></script>
{% endblock %}
