{% extends "base.twig" %}

{% block title %}
	Usage
{% endblock %}

{% block body %}
	<div>
		{{ pokemonName|e }}
	</div>

	<div>
		Raw count: {{ rawCount|e }}
	</div>

	<div>
		Avg. weight: {{ averageWeight|e }}
	</div>

	{% if viabilityCeiling %}
		<div>
			Viability Ceiling: {{ viabilityCeiling|e }}
		</div>
	{% endif %}

	<table>
		<thead>
			<th>Abilities</th>
			<th>%</th>
		</thead>
		<tbody>
			{% for ability in abilities %}
				<tr>
					<td>{{ ability.name|e }}</td>
					<td>{{ ability.percent|e }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<th>Items</th>
			<th>%</th>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.name|e }}</td>
					<td>{{ item.percent|e }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<th>Nature</th>
			<th>EVs</th>
			<th>%</th>
			<th>Stats</th>
		</thead>
		<tbody>
			{% for spread in spreads %}
				<tr>
					<td>{{ spread.nature.name|e }}</td>
					<td>
						{{ spread.evs.hp|e }}
						/
						<span
							{% if spread.nature.atk > 1 %}
								class="nature-plus"
							{% elseif spread.nature.atk < 1 %}
								class="nature-minus"
							{% endif %}
						>
							{{ spread.evs.atk|e }}
						</span>
						/
						<span
							{% if spread.nature.def > 1 %}
								class="nature-plus"
							{% elseif spread.nature.def < 1 %}
								class="nature-minus"
							{% endif %}
						>
							{{ spread.evs.def|e }}
						</span>
						/
						<span
							{% if spread.nature.spa > 1 %}
								class="nature-plus"
							{% elseif spread.nature.spa < 1 %}
								class="nature-minus"
							{% endif %}
						>
							{{ spread.evs.spa|e }}
						</span>
						/
						<span
							{% if spread.nature.spd > 1 %}
								class="nature-plus"
							{% elseif spread.nature.spd < 1 %}
								class="nature-minus"
							{% endif %}
						>
							{{ spread.evs.spd|e }}
						</span>
						/
						<span
							{% if spread.nature.spe > 1 %}
								class="nature-plus"
							{% elseif spread.nature.spe < 1 %}
								class="nature-minus"
							{% endif %}
						>
							{{ spread.evs.spe|e }}
						</span>
					</td>
					<td>
						{{ spread.percent|e }}%
					</td>
					<td>
						{{ spread.stats.hp|e }}
						/
						{{ spread.stats.atk|e }}
						/
						{{ spread.stats.def|e }}
						/
						{{ spread.stats.spa|e }}
						/
						{{ spread.stats.spd|e }}
						/
						{{ spread.stats.spe|e }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<th>Moves</th>
			<th>%</th>
		</thead>
		<tbody>
			{% for move in moves %}
				<tr>
					<td>{{ move.name|e }}</td>
					<td>{{ move.percent|e }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<th>Teammates</th>
			<th>%</th>
		</thead>
		<tbody>
			{% for teammate in teammates %}
				<tr>
					<td>
						<a href="/stats/moveset/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/{{ teammate.identifier|e }}">
							{{ teammate.name|e }}
						</a>
					</td>
					<td>{{ teammate.percent|e }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<th>Checks and Counters</th>
			<th>?</th>
			<th>?</th>
			<th>?</th>
			<th>% KOed</th>
			<th>% switched out</th>
		</thead>
		<tbody>
			{% for counter in counters %}
				<tr>
					<td>
						<a href="/stats/moveset/{{ year|e }}/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/{{ counter.identifier|e }}">
							{{ counter.name|e }}
						</a>
					</td>
					<td>{{ counter.number1|e }}</td>
					<td>{{ counter.number2|e }}</td>
					<td>{{ counter.number3|e }}</td>
					<td>{{ counter.percentKnockedOut|e }}%</td>
					<td>{{ counter.percentSwitchedOut|e }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
