{% extends "html/base.twig" %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="version-group-control" v-if="versionGroups.length">
		<ul>
			<li v-for="vg in versionGroups">
				<a :href="evCalculatorUrl(vg)"
					:class="{
						'current': vg.identifier === versionGroup.identifier
					}"
				>{{ vg.name }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<h1 class="dex-page__title">EV Calculator</h1>

		<div class="dex-section__description">
			Have a trained Pokémon you don't know what EVs it has?
			Use this calculator to reverse engineer its EV spread.
		</div>

		<label class="iv-calculator__block">
			<span class="iv-calculator__label">Pokémon:</span>
			<input type="text" v-model.trim="pokemonName" list="pokemon-names"
				@input="onChangePokemonName"
			>
			<datalist id="pokemon-names">
				<option v-for="p in pokemons" :key="p.identifier" :value="p.name"></option>
			</datalist>
			<img class="iv-calculator__x" src="/images/porydex/x.png" @click="clearPokemonName">
			<span v-if="selectedPokemon !== null">{{ selectedPokemon.name }}</span>
			<span v-if="selectedPokemon === null" class="iv-calculator__no-selection">No Pokémon selected</span>
		</label>

		<label class="iv-calculator__block">
			<span class="iv-calculator__label">Nature:</span>
			<input type="text" v-model.trim="natureName" list="nature-names"
				@input="onChangeNatureName"
			>
			<datalist id="nature-names">
				<option v-for="n in natures" :key="n.identifier" :value="n.expandedName"></option>
			</datalist>
			<img class="iv-calculator__x" src="/images/porydex/x.png" @click="clearNatureName">
			<span v-if="selectedNature !== null">{{ selectedNature.expandedName }}</span>
			<span v-if="selectedNature === null" class="iv-calculator__no-selection">No Nature selected</span>
		</label>


		<div class="iv-calculator__container" v-for="(l, atLevelIndex) in atLevel">
			<div class="iv-calculator__column iv-calculator__column--gap">
				<label>
					<span class="iv-calculator__stat-label">Level:</span>
					<input type="number" class="iv-calculator__input--level"
						v-model.number="l.level"
						min="1" max="100" step="1"
					>
				</label>

				<button v-if="atLevel.length > 1" @click="removeLevel(atLevelIndex)">Remove Level</button>

				<button v-if="atLevelIndex === atLevel.length - 1" @click="addLevel">Add Level</button>
			</div>

			<div class="iv-calculator__column">
				<div class="iv-calculator__column-title">Stats:</div>
				<label v-for="s in stats" :key="s.identifier"
					:class="{
						'iv-calculator__stat-block': true,
						['dex-table__stat--' + s.identifier]: true,
					}"
				>
					<span class="iv-calculator__stat-label">{{ s.name }}:</span>
					<input type="number" class="iv-calculator__input--final"
						v-model.number="l.finalStats[s.identifier]"
						min="1" max="714" step="1"
					>
				</label>
			</div>

			<div class="iv-calculator__column" v-if="atLevelIndex === 0">
				<div class="iv-calculator__column-title">IVs:</div>
				<label v-for="s in stats" :key="s.identifier"
					:class="{
						'iv-calculator__stat-block': true,
						['dex-table__stat--' + s.identifier]: true,
					}"
				>
					<span class="iv-calculator__stat-label">{{ s.name }}:</span>
					<input type="number" class="iv-calculator__input--ev"
						v-model.number="ivs[s.identifier]"
						min="0" max="252" step="1"
					>
				</label>
			</div>
		</div>

		<div class="iv-calculator__container">
			<div class="iv-calculator__column">
				<button :disabled="disableCalculate" @click="calculate">Calculate</button>
			</div>
		</div>

		<div class="iv-calculator__container">
			<div class="iv-calculator__column">
				<div class="iv-calculator__column-title">EVs:</div>
				<label v-for="s in stats" :key="s.identifier"
					:class="{
						'iv-calculator__stat-block': true,
						['dex-table__stat--' + s.identifier]: true,
					}"
				>
					<span class="iv-calculator__stat-label">{{ s.name }}:</span>
					<input type="text" class="iv-calculator__input--iv" readonly
						v-model="evs[s.identifier]"
					>
				</label>
			</div>
		</div>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="/js/dex/tools/ev-calculator.js"></script>
{% endblock %}
