{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if prevMonth.show %}
			<a class="button prev" href="/stats/{{ prevMonth.month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/abilities/{{ ability.identifier|e }}">
				&#9668; {{ prevMonth.text|e }}
			</a>
		{% endif %}

		<div class="space"></div>

		{% if nextMonth.show %}
			<a class="button next" href="/stats/{{ nextMonth.month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/abilities/{{ ability.identifier|e }}">
				{{ nextMonth.text|e }} &#9658;
			</a>
		{% endif %}
	</div>

	<div class="rating-control">
		<ul>
			{% for r in ratings %}
				<li>
					<a
						href="/stats/{{ month|e }}/{{ formatIdentifier|e }}/{{ r|e }}/abilities/{{ ability.identifier|e }}"
						{% if r == rating %}
							class="current"
						{% endif %}
					>{{ r|e }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<p>{{ ability.name|e }}: {{ ability.description|e }}</p>

	<table class="pokemon-usage">
		<thead>
			<tr>
				<th></th>
				<th class="pokemon-name">Pokémon</th>
				<th>Pokémon %</th>
				<th>Ability %</th>
				<th>Usage %</th>
				<th>Usage Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in data %}
				<tr>
					<td>
						<img src="/images/pokemon/icons/{{ pokemon.formIcon|e }}">
					</td>
					<td>
						<a href="/stats/{{ month|e }}/{{ formatIdentifier|e }}/{{ rating|e }}/pokemon/{{ pokemon.identifier|e }}">
							{{ pokemon.name|e }}
						</a>
					</td>
					<td class="number">{{ pokemon.pokemonPercent|e }}</td>
					<td class="number">{{ pokemon.abilityPercent|e }}</td>
					<td class="number">{{ pokemon.usagePercent|e }}</td>
					<td
						{% if pokemon.change > 0 %}
							class="number percent-plus"
						{% elseif pokemon.change < 0 %}
							class="number percent-minus"
						{% else %}
							class="number"
						{% endif %}
					>
						<a class="trend-link" href="/stats/trends/chart?type=usage-ability&format={{ formatIdentifier|e }}&rating={{ rating|e }}&pokemon={{ pokemon.identifier|e }}&ability={{ ability.identifier|e }}">
							{{ pokemon.changeText|e }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
