{% extends "html/base.twig" %}

{% block body %}
	<div class="rating-control">
		<ul>
			{% for r in ratings %}
				<li>
					<a
						href="/stats/{{ start|e }}-to-{{ end|e }}/{{ format.identifier|e }}/{{ r|e }}"
						{% if r == rating %}
							class="current"
						{% endif %}
					>{{ r|e }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="buttons-control">
		{% if showLeadsLink %}
			<a class="button" href="/stats/{{ start|e }}-to-{{ end|e }}/{{ format.identifier|e }}/{{ rating|e }}/leads">
				Leads
			</a>
		{% endif %}
	</div>

	<table class="dex-table dex-table--full-width">
		<thead>
			<tr>
				<th scope="col" class="dex-table--number">Rank</th>
				<th></th>
				<th scope="col" class="dex-table__pokemon-name">Pokémon</th>
				<th scope="col" class="dex-table--number">Usage %</th>
				<th scope="col" class="dex-table--number">Raw</th>
				<th scope="col" class="dex-table--number">%</th>
				<th scope="col" class="dex-table--number">Real</th>
				<th scope="col" class="dex-table--number">%</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in data %}
				<tr>
					<td class="dex-table--number">{{ pokemon.rank|e }}</td>
					<td class="dex-table__pokemon-icon">
						<img src="/images/pokemon/icons/{{ pokemon.icon|e }}">
					</td>
					<th scope="row" class="dex-table__pokemon-name">
						{% if pokemon.showMovesetLink %}
							<a href="/stats/{{ start|e }}-to-{{ end|e }}/{{ format.identifier|e }}/{{ rating|e }}/pokemon/{{ pokemon.identifier|e }}">
								{{ pokemon.name|e }}
							</a>
						{% else %}
							{{ pokemon.name|e }}
						{% endif %}
					</th>
					<td class="dex-table--number">{{ pokemon.usagePercent|e }}</td>
					<td class="dex-table--number">{{ pokemon.raw|e }}</td>
					<td class="dex-table--number">{{ pokemon.rawPercent|e }}</td>
					<td class="dex-table--number">{{ pokemon.real|e }}</td>
					<td class="dex-table--number">{{ pokemon.realPercent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
