{% extends "html/base.twig" %}

{% block body %}
	<div class="rating-control">
		<ul>
			{% for r in ratings %}
				<li>
					<a
						href="/stats/{{ start|e }}-to-{{ end|e }}/{{ format.identifier|e }}/{{ r|e }}/pokemon/{{ pokemon.identifier|e }}"
						{% if r == rating %}
							class="current"
						{% endif %}
					>{{ r|e }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="pokemon-data">
		<div>
			{{ pokemon.name|e }}
		</div>
		<div>
			<img src="/images/pokemon/models/{{ model|e }}" alt="">
		</div>
		<div class="pokemon-types">
			{% for type in types %}
				<a href="/dex/{{ generation.identifier|e }}/types/{{ type.identifier|e }}">
					<img src="/images/types/{{ type.icon|e }}" alt="{{ type.name|e }}">
				</a>
			{% endfor %}
		</div>
	</div>

	<table class="base-stats">
		{% for stat in stats %}
			<tr>
				<td class="base-stat-name">{{ stat.name|e }}</td>
				<td class="dex-table--number">{{ baseStats[stat.key]|e }}</td>
				<td>
					<div class="base-stat-bar" style="width: calc({{ baseStats[stat.key]|e }} / 255 * 300px)"></div>
				</td>
			</tr>
		{% endfor %}
	</table>

	<div></div>

	{% if format.smogonDexIdentifier and pokemon.smogonDexIdentifier %}
		<div>
			<a href="https://www.smogon.com/dex/{{ generation.identifier|e }}/pokemon/{{ pokemon.smogonDexIdentifier|e }}/{{ format.smogonDexIdentifier|e }}/">
				Smogon Analysis
			</a>
		</div>
	{% endif %}

	<nav id="quick-links">
		<ul>
			{% if showAbilities %}
				<li><a href="#abilities" class="scroll">Abilities</a></li>
			{% endif %}
			{% if showItems %}
				<li><a href="#items" class="scroll">Items</a></li>
			{% endif %}
			<li><a href="#moves" class="scroll">Moves</a></li>
		</ul>
	</nav>

	{% if showAbilities %}
		<table id="abilities" class="moveset-usage">
			<caption>Abilities</caption>
			<thead>
				<tr>
					<th scope="col">Ability</th>
					<th scope="col">%</th>
				</tr>
			</thead>
			<tbody>
				{% for ability in abilities %}
					<tr>
						<th scope="row">{{ ability.name|e }}</th>
						<td class="dex-table--number">{{ ability.percent|e }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if showItems %}
		<table id="items" class="moveset-usage">
			<caption>Items</caption>
			<thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<th scope="row">{{ item.name|e }}</th>
						<td class="dex-table--number">{{ item.percent|e }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<table id="moves" class="moveset-usage">
		<caption>Moves</caption>
		<thead>
			<tr>
				<th scope="col">Move</th>
				<th scope="col">%</th>
			</tr>
		</thead>
		<tbody>
			{% for move in moves %}
				<tr>
					<th scope="row">{{ move.name|e }}</th>
					<td class="dex-table--number">{{ move.percent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
