{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
	<link href="/css/dex-pagination.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="month-control" v-if="loaded">
		<a v-if="prevMonth" class="button prev" :href="`/stats/${prevMonth.month}/${format.identifier}/${rating}/items/${item.identifier}`">
			&#9668; {{ prevMonth.text }}
		</a>

		<div class="space"></div>

		<a v-if="nextMonth" class="button next" :href="`/stats/${nextMonth.month}/${format.identifier}/${rating}/items/${item.identifier}`">
			{{ nextMonth.text }} &#9658;
		</a>
	</div>

	<div class="rating-control" v-if="ratings.length">
		<ul>
			<li v-for="r in ratings">
				<a :href="`/stats/${thisMonth.month}/${format.identifier}/${r}/items/${item.identifier}`"
					:class="{
						'current': r === rating
					}"
				>{{ r }}</a>
			</li>
		</ul>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<p>{{ item.name }}: {{ item.description }}</p>

		<dex-pagination
			v-model="currentPage"
			:number-of-items="filteredPokemons.length"
			:items-per-page="itemsPerPage"
		></dex-pagination>

		<div class="stats-usage__filter">
			<label>
				Filter by Pokémon name: <input type="search" v-model="filterName">
			</label>
		</div>

		<table class="dex-table dex-table--full-width">
			<thead>
				<tr>
					<th></th>
					<th scope="col" class="dex-table__pokemon-name dex-table__header--sortable" @click="sortBy('name', 'asc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'name' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'name' && sortDirection === 'desc',
						}"
					>Pokémon</th>
					<th scope="col" class="dex-table--number dex-table__header--sortable" @click="sortBy('pokemonPercent', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'pokemonPercent' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'pokemonPercent' && sortDirection === 'desc',
						}"
					>Pokémon&nbsp;%</th>
					<th scope="col" class="dex-table--number dex-table__header--sortable" @click="sortBy('itemPercent', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'itemPercent' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'itemPercent' && sortDirection === 'desc',
						}"
					>
						<span class="dex-table__math-symbol">×</span>
						Item&nbsp;%
					</th>
					<th scope="col" class="dex-table--number dex-table__header--sortable" @click="sortBy('usagePercent', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'usagePercent' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'usagePercent' && sortDirection === 'desc',
						}"
					>
						<span class="dex-table__math-symbol">=</span>
						Usage&nbsp;%
					</th>
					<th scope="col" class="dex-table--number dex-table__header--sortable" @click="sortBy('usageChange', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'usageChange' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'usageChange' && sortDirection === 'desc',
						}"
					>Usage&nbsp;Δ</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="pokemon in paginatedPokemons" :key="pokemon.identifier">
					<td class="dex-table__pokemon-icon">
						<img :src="`/images/pokemon/icons/${pokemon.icon}`" alt="">
					</td>
					<th scope="row" class="dex-table__pokemon-name">
						<a :href="`/stats/${thisMonth.month}/${format.identifier}/${rating}/pokemon/${pokemon.identifier}`">
							{{ pokemon.name }}
						</a>
					</th>
					<td class="dex-table--number">{{ pokemon.pokemonPercentText }}</td>
					<td class="dex-table--number">{{ pokemon.itemPercentText }}</td>
					<td class="dex-table--number">{{ pokemon.usagePercentText }}</td>
					<td class="dex-table--number chart-link"
						:class="{
							'dex-table--percent-plus': pokemon.usageChange > 0,
							'dex-table--percent-minus': pokemon.usageChange < 0,
						}"
						@click="addChartLine(pokemon)"
					>
						<div class="chart-link__inner">
							{{ pokemon.usageChangeText }}
							<img class="chart-link__icon" src="/images/porydex/chart-icon.png" alt="Show Chart">
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<dex-pagination
			v-model="currentPage"
			:number-of-items="filteredPokemons.length"
			:items-per-page="itemsPerPage"
		></dex-pagination>

		<dex-chart-drawer
			ref="chart"
			:ratings="ratings"
		></dex-chart-drawer>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://unpkg.com/v-tooltip"></script>
	<script src="/js/dex-pagination.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="/js/dex-chart-drawer.js"></script>

	<script src="/js/stats/item.js"></script>
{% endblock %}
