{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
	<link href="/css/dex-pagination.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<div v-if="!loaded">
		Loading...
	</div>
	<div v-else>
		<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

		<div class="month-control">
			<a v-if="prevMonth" class="button prev" :href="`/stats/${prevMonth.month}/${format.identifier}/${rating}/moves/${move.identifier}`">
				&#9668; {{ prevMonth.text }}
			</a>

			<div class="space"></div>

			<a v-if="nextMonth" class="button next" :href="`/stats/${nextMonth.month}/${format.identifier}/${rating}/moves/${move.identifier}`">
				{{ nextMonth.text }} &#9658;
			</a>
		</div>

		<div class="rating-control">
			<ul>
				<li v-for="r in ratings">
					<a :href="`/stats/${thisMonth.month}/${format.identifier}/${r}/moves/${move.identifier}`"
						:class="{
							'current': r === rating
						}"
					>{{ r }}</a>
				</li>
			</ul>
		</div>

		<p>{{ move.name }}: {{ move.description }}</p>

		<dex-pagination
			v-model="currentPage"
			:number-of-items="filteredPokemons.length"
			:items-per-page="itemsPerPage"
		></dex-pagination>

		<div class="stats-usage__filter">
			<label>
				Search by Pokémon name: <input type="search" v-model="filterName">
			</label>
		</div>

		<table class="pokemon-usage">
			<thead>
				<tr>
					<th></th>
					<th class="pokemon-name dex-table__header--sortable" @click="sortBy('name', 'asc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'name' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'name' && sortDirection === 'desc',
						}"
					>Pokémon</th>
					<th class="dex-table__header--sortable" @click="sortBy('pokemonPercent', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'pokemonPercent' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'pokemonPercent' && sortDirection === 'desc',
						}"
					>Pokémon&nbsp;%</th>
					<th class="dex-table__header--sortable" @click="sortBy('movePercent', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'movePercent' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'movePercent' && sortDirection === 'desc',
						}"
					>Move&nbsp;%</th>
					<th class="dex-table__header--sortable" @click="sortBy('usagePercent', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'usagePercent' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'usagePercent' && sortDirection === 'desc',
						}"
					>Usage&nbsp;%</th>
					<th class="dex-table__header--sortable" @click="sortBy('usageChange', 'desc')"
						:class="{
							'dex-table__header--sorted-asc': sortColumn === 'usageChange' && sortDirection === 'asc',
							'dex-table__header--sorted-desc': sortColumn === 'usageChange' && sortDirection === 'desc',
						}"
					>Usage&nbsp;Δ</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="pokemon in paginatedPokemons" :key="pokemon.identifier">
					<td class="dex-table__pokemon-icon">
						<img :src="`/images/pokemon/icons/${pokemon.icon}`">
					</td>
					<td>
						<a :href="`/stats/${thisMonth.month}/${format.identifier}/${rating}/pokemon/${pokemon.identifier}`">
							{{ pokemon.name }}
						</a>
					</td>
					<td class="dex-table--number">{{ pokemon.pokemonPercentText }}</td>
					<td class="dex-table--number">{{ pokemon.movePercentText }}</td>
					<td class="dex-table--number">{{ pokemon.usagePercentText }}</td>
					<td class="dex-table--number"
						:class="{
							'dex-table--percent-plus': pokemon.usageChange > 0,
							'dex-table--percent-minus': pokemon.usageChange < 0,
						}"
					>
						<a class="trend-link"
							:href="`/stats/trends/chart?type=usage-move&format=${format.identifier}&rating=${rating}&pokemon=${pokemon.identifier}&move=${move.identifier}`"
						>{{ pokemon.usageChangeText }}</a>
					</td>
				</tr>
			</tbody>
		</table>

		<dex-pagination
			v-model="currentPage"
			:number-of-items="filteredPokemons.length"
			:items-per-page="itemsPerPage"
		></dex-pagination>
	</div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://unpkg.com/v-tooltip"></script>
	<script src="/js/dex-pagination.js"></script>

	<script src="/js/stats/move.js"></script>
{% endblock %}
