{% extends "html/base.twig" %}

{% block body %}
	<div class="month-control">
		{% if prevMonth %}
			<a class="button prev" href="/stats/{{ prevMonth.month|e }}/{{ format.identifier|e }}/{{ rating|e }}/pokemon/{{ pokemon.identifier|e }}">
				&#9668; {{ prevMonth.text|e }}
			</a>
		{% endif %}

		<div class="space"></div>

		{% if nextMonth %}
			<a class="button next" href="/stats/{{ nextMonth.month|e }}/{{ format.identifier|e }}/{{ rating|e }}/pokemon/{{ pokemon.identifier|e }}">
				{{ nextMonth.text|e }} &#9658;
			</a>
		{% endif %}
	</div>

	<div class="rating-control">
		<ul>
			{% for r in ratings %}
				<li>
					<a
						href="/stats/{{ thisMonth.month|e }}/{{ format.identifier|e }}/{{ r|e }}/pokemon/{{ pokemon.identifier|e }}"
						{% if r == rating %}
							class="current"
						{% endif %}
					>{{ r|e }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="pokemon-data">
		<div>
			{{ pokemon.name|e }}
		</div>
		<div>
			<img src="/images/pokemon/models/{{ model|e }}">
		</div>
		<div class="pokemon-types">
			{% for type in types %}
				<a href="/dex/{{ generation.identifier|e }}/types/{{ type.identifier|e }}">
					<img src="/images/types/{{ type.icon|e }}" alt="{{ type.name|e }}">
				</a>
			{% endfor %}
		</div>
	</div>

	<table class="base-stats">
		{% for stat in stats %}
			<tr>
				<td class="base-stat-name">{{ stat.name|e }}</td>
				<td class="dex-table--number">{{ baseStats[stat.key]|e }}</td>
				<td>
					<div class="base-stat-bar" style="width: calc({{ baseStats[stat.key]|e }} / 255 * 300px)"></div>
				</td>
			</tr>
		{% endfor %}
	</table>

	{% if format.smogonDexIdentifier and pokemon.smogonDexIdentifier %}
		<div>
			<a href="https://www.smogon.com/dex/{{ generation.identifier|e }}/pokemon/{{ pokemon.smogonDexIdentifier|e }}/{{ format.smogonDexIdentifier|e }}/">
				Smogon Analysis
			</a>
		</div>
	{% endif %}

	{% if rawCount %}
		<div>
			Raw count: {{ rawCount|e }}
		</div>
	{% endif %}

	{% if averageWeight %}
		<div>
			Avg. weight: {{ averageWeight|e }}
		</div>
	{% endif %}

	{% if viabilityCeiling %}
		<div>
			Viability Ceiling: {{ viabilityCeiling|e }}
		</div>
	{% endif %}

	<nav id="quick-links">
		<ul>
			{% if showAbilities %}
				<li><a href="#abilities" class="scroll">Abilities</a></li>
			{% endif %}
			{% if showItems %}
				<li><a href="#items" class="scroll">Items</a></li>
			{% endif %}
			<li><a href="#spreads" class="scroll">Spreads</a></li>
			<li><a href="#moves" class="scroll">Moves</a></li>
			<li><a href="#teammates" class="scroll">Teammates</a></li>
			<li><a href="#counters" class="scroll">Counters</a></li>
		</ul>
	</nav>

	{% if showAbilities %}
		<table id="abilities" class="moveset-usage">
			<caption>Abilities</caption>
			<thead>
				<tr>
					<th>Ability</th>
					<th>%</th>
					<th>Δ</th>
				</tr>
			</thead>
			<tbody>
				{% for ability in abilities %}
					<tr>
						<td>
							<a href="/stats/{{ thisMonth.month|e }}/{{ format.identifier|e }}/{{ rating|e }}/abilities/{{ ability.identifier|e }}">
								{{ ability.name|e }}
							</a>
						</td>
						<td class="dex-table--number">{{ ability.percent|e }}</td>
						<td
							{% if ability.change > 0 %}
								class="dex-table--number dex-table--percent-plus"
							{% elseif ability.change < 0 %}
								class="dex-table--number dex-table--percent-minus"
							{% else %}
								class="dex-table--number"
							{% endif %}
						>
							<a class="trend-link" href="/stats/trends/chart?type=moveset-ability&format={{ format.identifier|e }}&rating={{ rating|e }}&pokemon={{ pokemon.identifier|e }}&ability={{ ability.identifier|e }}">
								{{ ability.changeText|e }}
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if showItems %}
		<table id="items" class="moveset-usage">
			<caption>Items</caption>
			<thead>
				<tr>
					<th>Item</th>
					<th>%</th>
					<th>Δ</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>
							<a href="/stats/{{ thisMonth.month|e }}/{{ format.identifier|e }}/{{ rating|e }}/items/{{ item.identifier|e }}">
								{{ item.name|e }}
							</a>
						</td>
						<td class="dex-table--number">{{ item.percent|e }}</td>
						<td
							{% if item.change > 0 %}
								class="dex-table--number dex-table--percent-plus"
							{% elseif item.change < 0 %}
								class="dex-table--number dex-table--percent-minus"
							{% else %}
								class="dex-table--number"
							{% endif %}
						>
							<a class="trend-link" href="/stats/trends/chart?type=moveset-item&format={{ format.identifier|e }}&rating={{ rating|e }}&pokemon={{ pokemon.identifier|e }}&item={{ item.identifier|e }}">
								{{ item.changeText|e }}
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<table id="spreads" class="moveset-usage">
		<caption>Spreads</caption>
		<thead>
			<tr>
				<th>Nature</th>
				<th>
					<div>EVs</div>
					<div class="dex-spreads__stat-names">
						{% for stat in stats %}
							<abbr title="{{ stat.name|e }}" class="dex-spread--ev">{{ stat.abbr|e }}</abbr>
							{% if not loop.last %}
								<span class="dex-spread--slash">/</span>
							{% endif %}
						{% endfor %}
					</div>
				</th>
				<th>%</th>
				<th>
					<div>Stats</div>
					<div class="dex-spreads__stat-names">
						{% for stat in stats %}
							<abbr title="{{ stat.name|e }}" class="dex-spread--stat">{{ stat.abbr|e }}</abbr>
							{% if not loop.last %}
								<span class="dex-spread--slash">/</span>
							{% endif %}
						{% endfor %}
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for spread in spreads %}
				<tr>
					<td>{{ spread.nature|e }}</td>
					<td>
						{% for stat in stats %}
							<span
								{% if spread.increasedStat == stat.key %}
									class="dex-spread--ev dex-nature--increased"
								{% elseif spread.decreasedStat == stat.key %}
									class="dex-spread--ev dex-nature--decreased"
								{% else %}
									class="dex-spread--ev"
								{% endif %}
							>
								{% if spread.increasedStat == stat.key %}+{% endif %}{% if spread.decreasedStat == stat.key %}-{% endif %}{{ spread.evs[stat.key]|e }}
							</span>
							{% if not loop.last %}
								<span class="dex-spread--slash">/</span>
							{% endif %}
						{% endfor %}
					</td>
					</td>
					<td class="dex-table--number">
						{{ spread.percent|e }}
					</td>
					<td>
						{% for stat in stats %}
							<span class="dex-spread--stat">
								{{ spread.stats[stat.key]|e }}
							</span>
							{% if not loop.last %}
								<span class="dex-spread--slash">/</span>
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="moves" class="moveset-usage">
		<caption>Moves</caption>
		<thead>
			<tr>
				<th>Move</th>
				<th>%</th>
				<th>Δ</th>
			</tr>
		</thead>
		<tbody>
			{% for move in moves %}
				<tr>
					<td>
						<a href="/stats/{{ thisMonth.month|e }}/{{ format.identifier|e }}/{{ rating|e }}/moves/{{ move.identifier|e }}">
							{{ move.name|e }}
						</a>
					</td>
					<td class="dex-table--number">{{ move.percent|e }}</td>
					<td
						{% if move.change > 0 %}
							class="dex-table--number dex-table--percent-plus"
						{% elseif move.change < 0 %}
							class="dex-table--number dex-table--percent-minus"
						{% else %}
							class="dex-table--number"
						{% endif %}
					>
						<a class="trend-link" href="/stats/trends/chart?type=moveset-move&format={{ format.identifier|e }}&rating={{ rating|e }}&pokemon={{ pokemon.identifier|e }}&move={{ move.identifier|e }}">
							{{ move.changeText|e }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="teammates" class="moveset-usage">
		<caption>Teammates</caption>
		<thead>
			<tr>
				<th></th>
				<th>Teammate</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for teammate in teammates %}
				<tr>
					<td class="dex-table__pokemon-icon">
						<img src="/images/pokemon/icons/{{ teammate.icon|e }}">
					</td>
					<td>
						<a href="/stats/{{ thisMonth.month|e }}/{{ format.identifier|e }}/{{ rating|e }}/pokemon/{{ teammate.identifier|e }}">
							{{ teammate.name|e }}
						</a>
					</td>
					<td class="dex-table--number">{{ teammate.percent|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table id="counters" class="moveset-usage">
		<caption>Checks and Counters</caption>
		<thead>
			<tr>
				<th></th>
				<th>Counter</th>
				<th title="The counter's numeric score, weighted to remove bias towards low-probability matchups (% - 4σ)">S</th>
				<th title="The percent of encounters where {{ pokemon.name|e }} was knocked out or switched out">%</th>
				<th title="The standard deviation of the percent of encounters where {{ pokemon.name|e }} was knocked out or switched out">σ</th>
				<th>% KOed</th>
				<th>% switched out</th>
			</tr>
		</thead>
		<tbody>
			{% for counter in counters %}
				<tr>
					<td class="dex-table__pokemon-icon">
						<img src="/images/pokemon/icons/{{ counter.icon|e }}">
					</td>
					<td>
						<a href="/stats/{{ thisMonth.month|e }}/{{ format.identifier|e }}/{{ rating|e }}/pokemon/{{ counter.identifier|e }}">
							{{ counter.name|e }}
						</a>
					</td>
					<td class="dex-table--number">{{ counter.score|e }}</td>
					<td class="dex-table--number">{{ counter.percent|e }}</td>
					<td class="dex-table--number">{{ counter.standardDeviation|e }}</td>
					<td class="dex-table--number">{{ counter.percentKnockedOut|e }}</td>
					<td class="dex-table--number">{{ counter.percentSwitchedOut|e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
