{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="month-control" v-if="loaded">
		<a v-if="prevMonth" class="button prev" :href="`/stats/${prevMonth.month}/${format.identifier}/${rating}/pokemon/${pokemon.identifier}`">
			&#9668; {{ prevMonth.text }}
		</a>

		<div class="space"></div>

		<a v-if="nextMonth" class="button next" :href="`/stats/${nextMonth.month}/${format.identifier}/${rating}/pokemon/${pokemon.identifier}`">
			{{ nextMonth.text }} &#9658;
		</a>
	</div>

	<div class="rating-control" v-if="ratings.length">
		<ul>
			<li v-for="r in ratings">
				<a :href="`/stats/${thisMonth.month}/${format.identifier}/${r}/pokemon/${pokemon.identifier}`"
					:class="{
						'current': r === rating
					}"
				>{{ r }}</a>
			</li>
		</ul>
	</div>

	<div class="pokemon-data">
		<div>
			{{ pokemon.name }}
		</div>
		<div>
			<img :src="`/images/pokemon/models/${pokemon.model}`">
		</div>
		<div class="pokemon-types">
			<a v-for="type in pokemon.types" :key="type.identifier"
				:href="`/dex/${generation.identifier}/types/${type.identifier}`"
			>
				<img :src="`/images/types/${type.icon}`" :alt="type.name">
			</a>
		</div>
	</div>

	<table class="base-stats">
		<tr v-for="stat in stats" :key="stat.key">
			<td class="base-stat-name">{{ stat.name }}</td>
			<td class="dex-table--number">{{ pokemon.baseStats[stat.key] }}</td>
			<td>
				<div class="base-stat-bar"
					:style="{
						'width': (pokemon.baseStats[stat.key] / 255 * 300) + 'px',
					}"
				></div>
			</td>
		</tr>
	</table>

	<div v-if="format.smogonDexIdentifier && pokemon.smogonDexIdentifier">
		<a :href="`https://www.smogon.com/dex/${generation.identifier}/pokemon/${pokemon.smogonDexIdentifier}/${format.smogonDexIdentifier}/`"
			target="_blank" rel="noopener"
		>
			Smogon Analysis
		</a>
	</div>

	<div v-if="rawCount">
		Raw count: {{ rawCount }}
	</div>
	<div v-if="averageWeight">
		Avg. weight: {{ averageWeight }}
	</div>
	<div v-if="viabilityCeiling">
		Viability Ceiling: {{ viabilityCeiling }}
	</div>

	<nav id="quick-links">
		<ul>
			<li v-if="showAbilities"><a href="#abilities">Abilities</a></li>
			<li v-if="showItems"><a href="#items">Items</a></li>
			<li><a href="#spreads">Spreads</a></li>
			<li><a href="#moves">Moves</a></li>
			<li><a href="#teammates">Teammates</a></li>
			<li><a href="#counters">Counters</a></li>
		</ul>
	</nav>

	<stats-pokemon-abilities v-if="showAbilities" id="abilities"
		:abilities="abilities"
		:month="thisMonth.month"
		:format="format.identifier"
		:rating="rating"
		:pokemon="pokemon.identifier"
		@add-chart-line="addChartLine($event)"
	></stats-pokemon-abilities>

	<stats-pokemon-items v-if="showItems" id="items"
		:items="items"
		:month="thisMonth.month"
		:format="format.identifier"
		:rating="rating"
		:pokemon="pokemon.identifier"
		@add-chart-line="addChartLine($event)"
	></stats-pokemon-items>

	<stats-pokemon-spreads id="spreads"
		:spreads="spreads"
		:stats="stats"
	></stats-pokemon-spreads>

	<stats-pokemon-moves id="moves"
		:moves="moves"
		:month="thisMonth.month"
		:format="format.identifier"
		:rating="rating"
		:pokemon="pokemon.identifier"
		@add-chart-line="addChartLine($event)"
	></stats-pokemon-moves>

	<stats-pokemon-teammates id="teammates"
		:teammates="teammates"
		:month="thisMonth.month"
		:format="format.identifier"
		:rating="rating"
	></stats-pokemon-teammates>

	<stats-pokemon-counters id="counters"
		:counters="counters"
		:month="thisMonth.month"
		:format="format.identifier"
		:rating="rating"
		:pokemon="pokemon.name"
	></stats-pokemon-counters>

	<dex-chart-drawer
		:lines="chartLines"
		@chart-all-ratings="chartAllRatings"
	></dex-chart-drawer>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="/js/dex-breadcrumbs.js"></script>

	<script src="https://unpkg.com/v-tooltip"></script>

	<script src="/js/stats-pokemon-abilities.js"></script>
	<script src="/js/stats-pokemon-items.js"></script>
	<script src="/js/stats-pokemon-spreads.js"></script>
	<script src="/js/stats-pokemon-moves.js"></script>
	<script src="/js/stats-pokemon-teammates.js"></script>
	<script src="/js/stats-pokemon-counters.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="/js/dex-chart-drawer.js"></script>

	<script src="/js/stats/pokemon.js"></script>
{% endblock %}
