{% extends "html/base.twig" %}

{% block styles %}
	<link href="/css/vtooltip.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% verbatim %}
<div id="app" v-cloak>
	<dex-breadcrumbs :breadcrumbs="breadcrumbs"></dex-breadcrumbs>

	<div class="month-control" v-if="loaded">
		<a v-if="prevMonth" class="button prev" :href="'/stats/' + prevMonth.value + '/' + format.identifier + '/' + rating + '/pokemon/' + pokemon.identifier">
			&#9668; {{ prevMonth.name }}
		</a>

		<div class="space"></div>

		<a v-if="nextMonth" class="button next" :href="'/stats/' + nextMonth.value + '/' + format.identifier + '/' + rating + '/pokemon/' + pokemon.identifier">
			{{ nextMonth.name }} &#9658;
		</a>
	</div>

	<div class="rating-control" v-if="ratings.length">
		<ul>
			<li v-for="r in ratings">
				<a :href="'/stats/' + thisMonth.value + '/' + format.identifier + '/' + r + '/pokemon/' + pokemon.identifier"
					:class="{
						'current': r === rating
					}"
				>{{ r }}</a>
			</li>
		</ul>
	</div>

	<div class="rank-control" v-if="loaded">
		<a v-if="prevRank" class="rank-control__rank dex-link"
			:href="'/stats/' + thisMonth.value + '/' + format.identifier + '/' + rating + '/pokemon/' + prevRank.identifier"
			v-tooltip="prevRank.name"
		>
			&#9668; #{{ prevRank.rank }} <img class="dex-pokemon-icon" :src="'/images/pokemon/icons/' + prevRank.icon" :alt="prevRank.name">
		</a>
		<span v-else class="rank-control__rank"></span>

		<a v-if="nextRank" class="rank-control__rank dex-link"
			:href="'/stats/' + thisMonth.value + '/' + format.identifier + '/' + rating + '/pokemon/' + nextRank.identifier"
			v-tooltip="nextRank.name"
		>
			<img class="dex-pokemon-icon" :src="'/images/pokemon/icons/' + nextRank.icon" :alt="nextRank.name"> #{{ nextRank.rank }} &#9658;
		</a>
		<span v-else class="rank-control__rank"></span>
	</div>

	<div v-if="!loaded" class="dex-loader-container">
		<div class="dex-loader"></div>
	</div>

	<template v-if="loaded">
		<div class="dex-pokemon__sprite-and-base-stats">
			<div class="dex-pokemon__sprite-and-types">
				<img v-if="pokemon.sprite" :src="'/images/pokemon/sprites/' + pokemon.sprite"
					class="dex-pokemon__sprite"
				>
				<div>
					<dex-type-link v-for="t in pokemon.types" :key="t.identifier"
						:vg-identifier="versionGroup.identifier"
						:type="t"
					></dex-type-link>
				</div>
			</div>

			<table class="dex-pokemon__base-stats">
				<thead>
					<tr>
						<td></td>
						<th colspan="2">Base Stats</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="s in stats" :key="s.identifier">
						<th scope="row" class="dex-pokemon__base-stat-name">{{ s.name }}</th>
						<td class="dex-table--number">{{ pokemon.baseStats[s.identifier] }}</td>
						<td>
							<div
								:class="{
									'dex-pokemon__base-stat-bar': true,
									['dex-stat--' + s.identifier]: true,
								}"
								:style="{
									'width': (pokemon.baseStats[s.identifier] / 255 * 300) + 'px',
								}"
							></div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="dex-pokemon__base-stat-name">Total</td>
						<td class="dex-table--number">{{ pokemon.bst }}</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div v-if="format.smogonDexIdentifier && pokemon.smogonDexIdentifier">
			<a :href="'https://www.smogon.com/dex/' + generation.smogonDexIdentifier + '/pokemon/' + pokemon.smogonDexIdentifier + '/' + format.smogonDexIdentifier + '/'"
				target="_blank" rel="noopener"
			>
				Smogon Analysis
			</a>
		</div>

		<div v-if="rawCount">
			Raw count: {{ rawCount }}
		</div>
		<div v-if="averageWeight">
			Avg. weight: {{ averageWeight }}
		</div>
		<div v-if="viabilityCeiling">
			Viability Ceiling: {{ viabilityCeiling }}
		</div>

		<nav class="quick-links">
			<ul>
				<li v-if="showAbilities"><a href="#abilities">Abilities</a></li>
				<li v-if="showItems"><a href="#items">Items</a></li>
				<li><a href="#spreads">Spreads</a></li>
				<li><a href="#moves">Moves</a></li>
				<li v-if="showTeraTypes && teraTypes.length > 0"><a href="#tera-types">Tera Types</a></li>
				<li><a href="#teammates">Teammates</a></li>
				<li><a href="#counters">Counters</a></li>
			</ul>
		</nav>

		<stats-pokemon-abilities v-if="showAbilities" id="abilities"
			:abilities="abilities"
			:month="thisMonth.value"
			:format="format.identifier"
			:rating="rating"
			:pokemon="pokemon.identifier"
			@add-chart-line="addChartLine($event)"
		></stats-pokemon-abilities>

		<stats-pokemon-items v-if="showItems" id="items"
			:items="items"
			:month="thisMonth.value"
			:format="format.identifier"
			:rating="rating"
			:pokemon="pokemon.identifier"
			@add-chart-line="addChartLine($event)"
		></stats-pokemon-items>

		<stats-pokemon-spreads id="spreads"
			:spreads="spreads"
			:stats="stats"
		></stats-pokemon-spreads>

		<stats-pokemon-moves id="moves"
			:moves="moves"
			:month="thisMonth.value"
			:format="format.identifier"
			:rating="rating"
			:pokemon="pokemon.identifier"
			:version-group="versionGroup.identifier"
			:field-size="format.fieldSize"
			@add-chart-line="addChartLine($event)"
		></stats-pokemon-moves>

		<stats-pokemon-tera-types v-if="showTeraTypes && teraTypes.length > 0" id="tera-types"
			:tera-types="teraTypes"
			:month="thisMonth.value"
			:format="format.identifier"
			:rating="rating"
			:pokemon="pokemon.identifier"
			:version-group="versionGroup.identifier"
			@add-chart-line="addChartLine($event)"
		></stats-pokemon-tera-types>

		<stats-pokemon-teammates id="teammates"
			:teammates="teammates"
			:month="thisMonth.value"
			:format="format.identifier"
			:rating="rating"
			:pokemon="pokemon.name"
		></stats-pokemon-teammates>

		<stats-pokemon-counters id="counters"
			:counters="counters"
			:month="thisMonth.value"
			:format="format.identifier"
			:rating="rating"
			:pokemon="pokemon.name"
		></stats-pokemon-counters>

		<p>
			View the averaged stats
			<label>
				from
				<select v-model="start" @change="goToAveraged">
					<option v-for="m in months" :key="m.value" :value="m.value">{{ m.name }}</option>
				</select>
			</label>
			<label>
				to
				<select v-model="end" @change="goToAveraged">
					<option v-for="m in months" :key="m.value" :value="m.value">{{ m.name }}</option>
				</select>
			</label>
		</p>

		<dex-chart-drawer
			ref="chart"
			:ratings="ratings"
		></dex-chart-drawer>
	</template>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7"></script>
	<script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1"></script>

	<script src="/js/dex-breadcrumbs.js"></script>
	<script src="/js/dex-type-link.js"></script>
	<script src="/js/stats-pokemon-abilities.js"></script>
	<script src="/js/stats-pokemon-items.js"></script>
	<script src="/js/stats-pokemon-spreads.js"></script>
	<script src="/js/stats-pokemon-moves.js"></script>
	<script src="/js/stats-pokemon-tera-types.js"></script>
	<script src="/js/stats-pokemon-teammates.js"></script>
	<script src="/js/stats-pokemon-counters.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0"></script>
	<script src="/js/dex-chart-drawer.js"></script>

	<script src="/js/stats/pokemon.js"></script>
{% endblock %}
